<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AkuKlinik</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="lib/ionicons.css" >
  <link rel="stylesheet" href="lib/angular-toastr.css" >
  <link rel="stylesheet" href="lib/animate.css" >
  <link rel="stylesheet" href="lib/bootstrap.css" >
  <link rel="stylesheet" href="lib/bootstrap-select.css" >
  <link rel="stylesheet" href="lib/bootstrap-switch.css" >
  <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" >
  <link rel="stylesheet" href="lib/font-awesome.css" >
  <link rel="stylesheet" href="lib/fullcalendar.css" >
  <link rel="stylesheet" href="lib/leaflet.css" >
  <link rel="stylesheet" href="lib/angular-progress-button-styles.min.css" >
  <link rel="stylesheet" href="lib/angular-chart.css" >
  <link rel="stylesheet" href="lib/chartist.min.css" >
  <link rel="stylesheet" href="lib/morris.css" >
  <link rel="stylesheet" href="lib/ion.rangeSlider.css" >
  <link rel="stylesheet" href="lib/ion.rangeSlider.skinFlat.css" >
  <link rel="stylesheet" href="lib/textAngular.css" >
  <link rel="stylesheet" href="lib/xeditable.css" >
  <link rel="stylesheet" href="lib/style.css" >
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/auth.css -->
  <!-- inject:css -->
  <!-- <link rel="stylesheet" href="app/auth.css"> -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
<main class="auth-main">
  <div class="auth-block">
    <h1>Daftar to AkuKlinik</h1>
    <a href="/#!/signin" class="auth-link">Sudah Memiliki Akun? Sign in disni!</a>

    <form class="form-horizontal" ng-submit="register(user)" name="registerForm">
      <div class="form-group">
        <label  class="col-sm-2 control-label">Nama</label>

        <div class="col-sm-10">
          <input type="text" ng-model="user.fullname" ng-required="true" class="form-control" id="inputName3" placeholder="Nama Lengkap">
        </div>
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label">Jenis Kelamin</label>

        <div class="col-sm-10">
           <ui-select ng-model="user.gender">
              <ui-select-match placeholder="Pilih">
                <span ng-bind="$select.selected.label"></span>
              </ui-select-match>
              <ui-select-choices repeat="x in (gender | filter: $select.search)">
                <span ng-bind="x.label"></span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>


      <div class="form-group">
        <label  class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input value="" type="email"  autocomplete="new-password"  ng-model="user.email" ng-required="true" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input value="" autocomplete="new-password" type="password" ng-model="user.password" ng-required="true" class="form-control" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label">No.Hp</label>

        <div class="col-sm-10">
          <input type="text" ng-model="user.mobile" ng-required="true"  class="form-control" placeholder="Nomer Handphone">
        </div>
      </div>

     

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"  ng-disabled="registerForm.$invalid && user.gender !='' " class="btn btn-default btn-auth">Sign up</button>
        </div>
      </div>
    </form>

    <!-- <div class="auth-sep"><span><span>or Sign up with one click</span></span></div> -->

   <!--  <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div> -->
  </div>
</main>
</body>
</html>