<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/homepage" class="al-logo clearfix"><span>Aku</span>Klinik</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="klinik-logo-section"  ng-if="userRole.name == 'Admin Klinik' || userRole.name == 'Perawat'">
    <img ng-src="storage/images/noimage.png" class="klinik-logo" ng-if="klinik.logo == NULL ">
    <img ng-src="storage/images/{{ klinik.logo }}" class="klinik-logo" ng-if="klinik.logo != NULL ">
    <span><b>{{klinik.name}}</b></span>
  </div>

<!-- <div ng-if="userRole.name == 'Perawat' || userRole.name == 'Admin Klinik'">
    LOGO NAMA KLINIK
</div>
 -->
  <!-- <div class="containter">
      LOGO NAMA KLINIK
  </div> -->


 <div class="containter">
    <div class="user-profile pull-right clearfix">
      <span class="user-profile pull-left" style="padding-left: 110px">
        <b>{{ currentUser.fullname }}</b>
      </span>
      <div class="al-user-profile" uib-dropdown>
        <a uib-dropdown-toggle class="profile-toggle-link">
          <img ng-src="assets/pictures/profile-default.png">
        </a>
        <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
          <li><i class="dropdown-arr"></i></li>
  <!--         <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
          <li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
          <li><a href="#!/signout" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
        </ul>
      </div>
      <msg-center></msg-center>
    </div>
  </div>
</div>