<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>ID Klinik</label>
          <input class="form-control" ng-model="klinik.code" ng-disabled="true">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Nama</label>
          <input class="form-control required-input" ng-model="klinik.name" value="" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>No.Hp</label>
          <input class="form-control required-input" ng-model="klinik.phone" value="" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Email</label>
          <input class="form-control required-input" type="email" ng-model="klinik.email" value="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Alamat</label>
          <textarea class="form-control required-input" ng-model="klinik.alamat" value="" style="height:30px" required></textarea>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Gambar 1</label>
          <!-- <img ng-if="!(klinik.pict_1)" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/noimage.png" width="100%" height="100%"> -->
          <img ng-if="klinik.pict_1" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/{{klinik.pict_1}}" width="100%" height="100%">
          <input type="file" nv-file-select uploader="uploader"/><br/>
          <!-- <input class="form-control" ng-model="klinik.pict_1" value="" required> -->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Gambar 2</label>
          <!-- <img ng-if="!(klinik.pict_2)" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/noimage.png" width="100%" height="100%"> -->
          <img ng-if="klinik.pict_2" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/{{klinik.pict_2}}" width="100%" height="100%">
           <input type="file" nv-file-select uploader="uploader_2"/><br/>
          <!-- <input class="form-control" ng-model="klinik.pict_2" value="" required> -->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Gambar 3</label>
          <!-- <img ng-if="!(klinik.pict_3)" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/noimage.png" width="100%" height="100%"> -->
          <img ng-if="klinik.pict_3" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/{{klinik.pict_3}}" width="100%" height="100%">
           <input type="file" nv-file-select uploader="uploader_3" /><br/>
          <!-- <input class="form-control" ng-model="klinik.pict_3" value="" required> -->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Logo</label>
          <!-- <img ng-if="!(klinik.pict_3)" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/noimage.png" width="100%" height="100%"> -->
          <img ng-if="klinik.logo" style="border-radius: 3%; max-width: 200px; max-height: 200px" ng-src="storage/images/{{klinik.logo}}" width="100%" height="100%">
           <input type="file" nv-file-select uploader="uploader_4" /><br/>
          <!-- <input class="form-control" ng-model="klinik.pict_3" value="" required> -->
        </div>
      </div>
    </div>
 </div>
     
<div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
  </i> Save</button>
</div>

</div>
<div ng-if="currentController=='edit'">
  <div class="panel panel-default">
    <div class="panel-heading">
      List Dokter
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="gridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      List Pasien
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="pasienGridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Riwayat Langganan
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="langgananGridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>
</div>