<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Paket</label>
          <ui-select ng-model="langganan.paket">
              <ui-select-match placeholder="Pilih paket">
                <span ng-bind="$select.selected.nama"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in paketList">
                <span ng-bind="data.nama"></span>
              </ui-select-choices>  
          </ui-select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Dari</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
           ng-model="langganan.dari_tanggal" is-open="opened_start" close-text="Close" 
           alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_start()"/>
        </div>
      </div> 
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Sampai</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
           ng-model="langganan.sampai_tanggal" is-open="opened_end" close-text="Close" 
           alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_end()"/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>No. Kontrak</label>
          <input class="form-control" ng-model="langganan.no_kontrak" value="">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Deskripsi</label>
          <input class="form-control" ng-model="langganan.deskripsi" value="">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Status</label>
          <ui-select ng-model="langganan.status">
              <ui-select-match placeholder="Pilih paket">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['active','inactive']">
                <span ng-bind="data"></span>
              </ui-select-choices>  
          </ui-select>
        </div>
      </div>
      <!-- <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Alamat</label>
          <textarea class="form-control required-input" ng-model="langganan.alamat" value="" style="height:30px"></textarea>
        </div>
      </div> -->
    </div>
  </div>
<div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
  </i> Save</button>
</div>

</div>
<div ng-if="currentController=='edit'">
  <div class="panel panel-default">
    <div class="panel-heading">
      List Dokter
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="gridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      List Pasien
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="pasienGridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="height: 10%">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6">
            Riwayat Langganan
          </div>
          <div class="row col-xs-6 pull-right">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
               <button ng-if="currentUser.fk_role==27" type="button" ng-click="go('klinik/'+String($stateParams.id)+'/add-langganan')" class="btn btn-sm btn-success">
                 <i class="glyphicon glyphicon-plus"></i> Add New Langganan
               </button>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="panel-body">
    </div> -->
    <div ba-panel ba-panel-class="table-panel" ng-if="currentUser.fk_role==1 || currentUser.fk_role==27">
      <div ui-grid="langgananGridOptions" ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
    </div>
  </div>
</div>