</div>
<!-- <div class="panel panel-default"> -->
  <div ng-if="currentController=='new'">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          Cari Dokter
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <input class="form-control autocomplete" ng-model="search.nama_dokter" value="" placeholder="Nama Dokter" 
              typeahead="dokter.fullname for dokter in dokters | filter:{fullname:$viewValue}"
              typeahead-editable="false"
              typeahead-on-select="onSelect($item)">
              <!-- <input class="form-control autocomplete" ng-model="selected.noloan" value="" 
              typeahead="data.noloan for data in bucketHist | filter:{noloan:$viewValue}"> -->
        </div>
      </div>
    </div>
  </div>
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
         <h3>Form</h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
          <div class="col-sm-3" ng-show="!(user.fk_role.id==27)">
            <div class="form-group-sm">
              <label>ID User</label>
              <input class="form-control" ng-model="user.code" ng-disabled="true">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Email</label>
              <input class="form-control" type="email" ng-model="user.email" ng-disabled="disabled" required>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Password</label>
              <input type="password" class="form-control" ng-model="user.password" ng-disabled="disabled" required>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Nama Lengkap</label>
              <input class="form-control" ng-model="user.fullname" ng-disabled="disabled" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>No. Hp</label>
              <input class="form-control" ng-model="user.mobile" ng-disabled="disabled" required>
            </div>
          </div> 
          <div class="col-sm-3">
            <label>Jenis Kelamin</label>
            <ui-select ng-model="user.gender" ng-disabled="disabled">
                <ui-select-match placeholder="Pilih gender">
                  <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in ['Laki-laki','Perempuan']">
                  <span ng-bind="data"></span>
                </ui-select-choices>
            </ui-select>
          </div>          
          <div class="col-sm-3">
            <div class="form-group-sm">
                <label>Tanggal Lahir</label>
                 <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="user.birth_date" is-open="datepicker.opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" ng-disabled="disabled"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Alamat</label>
              <textarea class="form-control" ng-model="user.address" value="" style="height:30px" ng-disabled="disabled"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3" ng-show="isPasien">
            <div class="form-group-sm">
              <label>Golongan Darah</label>
              <ui-select ng-model="user.blood_type" ng-disabled="disabled">
                <ui-select-match placeholder="Pilih blood type">
                  <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in ['O-','O+','A-','A+','B-','B+','AB-','AB+']">
                  <span ng-bind="data"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
  <!-- </div> -->
     
<!-- <div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" class="btn btn-primary waves-effect" ng-click="save()"><i class="mdi-content-save">
  </i> Save</button>
</div> -->
<!-- </div> -->