<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>ID Jadwal Praktek</label>
            <input class="form-control" ng-model="praktek.code" ng-disabled="true">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Nama Poli</label>
            <input class="form-control required-input" ng-model="praktek.poli_name" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tipe Poli</label>
            <ui-select class="ui-select-required"class="ui-select-required" ng-model="praktek.poli_type">
              <ui-select-match placeholder="Pilih tipe poli">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Umum', 'Gigi', 'Medis', 'Psikologi', 'THT', 'Skin Care', 'Kandungan', 'Anak', 'Kandungan (bidan)']">
                <span ng-bind="data"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Hari</label>
            <ui-select class="ui-select-required"class="ui-select-required"ng-model="praktek.day">
              <ui-select-match placeholder="Pilih hari">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in days">
                <span ng-bind="data.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Jam Buka</label>
            <input class="form-control required-input" type="time" min="00:00:00" max="24:00:00" ng-model="praktek.time_from" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Waktu Selesai</label>
            <input class="form-control required-input" type="time" min="00:00:00" max="24:00:00" ng-model="praktek.time_to" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Dokter</label>
            <ui-select class="ui-select-required"ng-model="praktek.fk_dokter">
              <ui-select-match placeholder="Pilih dokter">
                <span ng-bind="$select.selected.fullname"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in dokters">
                <span ng-bind="data.fullname"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Estimasi Harga</label>
            <input class="form-control required-input" type="number" ng-model="praktek.price_rate" value="" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Status</label>
            <ui-select class="ui-select-required"ng-model="praktek.status">
              <ui-select-match placeholder="Pilih status">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Active', 'Inactive']">
                <span ng-bind="data"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
    </div>
 </div>
     
<div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
  </i> Save</button>
</div>
</div>