<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
      <div class="col-xs-12">
          <div class="row col-xs-6 pull-right">
           <div class="col-xs-5">
           </div>
           <div class="col-xs-1 col-sm-3">
           </div>
          <div class="col-ls-1">
            <button type="button" ng-click="go('praktek/new')" class="btn btn-sm btn-success">
             <i class="glyphicon glyphicon-plus">
             </i> Add New Praktek
            </button>            
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="panel-body">
       <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tipe Poli</label>
            <ui-select ng-model="filter.poli_type">
              <ui-select-match placeholder="Pilih tipe poli">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Umum', 'Gigi', 'Medis', 'Psikologi']">
                <span ng-bind="data"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Dokter</label>
            <ui-select ng-model="filter.dokter">
              <ui-select-match placeholder="Pilih dokter">
                <span ng-bind="$select.selected.fullname"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in dokters">
                <span ng-bind="data.fullname"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <br><div class="col-sm-2">
         <button type="button" ng-click="filter()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter </button>
       </div>
     </div>
   </div>
   <div class="panel-heading">
   Pencarian
   </div>
   <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <input class="form-control" ng-model="search.poli_name" placeholder="Cari nama poli">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <input class="form-control" ng-model="search.dokter" placeholder="Cari nama dokter">
          </div>
        </div>
     </div>
   </div>
</div>

 <div ba-panel ba-panel-class="table-panel">
  <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
</div>