<div class="row row-sm">
  <div class="col-sm-12">
  	<div ba-panel ba-panel-title="Form Entry Data">	
	    <form role="form" name="createForm" ng-submit="save(visit)">
	      <div ng-include="'app/pages/pembayaran/pembayaran/entry.pembayaran.form.html'"></div>
	    </form>
	</div>
  </div>
</div>