<div class="row">
	<div class="col-sm-3">
		<div class="form-group-sm">
			<label>Kode Pembayaran</label>
			<input class="form-control" ng-model="visit.kode_pembayaran" disabled>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group-sm">
			<label>Tipe Pembayaran</label>
			<ui-select class="ui-select-required"ng-model="visit.tipe_pembayaran">
                <ui-select-match placeholder="Pilih tipe pembayaran">
                  <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in ['Cash','BPJS','Asuransi']">
                  <span ng-bind="data"></span>
                </ui-select-choices>
            </ui-select>
		</div>
	</div>
	<div class="col-sm-3" ng-show="visit.tipe_pembayaran && visit.tipe_pembayaran!='Cash'">
		<div class="form-group-sm">
			<label>No. Polis</label>
			<input class="form-control" ng-model="visit.no_polis">
		</div>
	</div>
	<div class="col-sm-3" ng-show="visit.tipe_pembayaran=='Asuransi'">
		<div class="form-group-sm">
			<label>Nama Asuransi</label>
			<input class="form-control" ng-model="visit.nama_asuransi">
		</div>
	</div>
</div>
<br><br>
<div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;">
	<h4>
		Item Pembayaran
	</h4>
</div>

<div class="row" style="margin-top: 1%">
	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Item</label>
            <input class="form-control" ng-model="pembayaran.item" value=""></input>
	    </div>
	</div>
	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Nominal</label>
            <input type="number" class="form-control" ng-model="pembayaran.nominal" value=""></input>
	    </div>
	</div>
	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Kuantitas</label>
            <input type="number" class="form-control" ng-model="pembayaran.quantity" value=""></input>
	    </div>
	</div>
	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Diskon</label>
            <input type="number" class="form-control" ng-model="pembayaran.diskon" value=""></input>
	    </div>
	</div>
	<div class="col-sm-3">
		<div class="form-group-sm">
			<br>
			<button type="button" ng-click="addItem(pembayaran)" class="btn btn-primary waves-effect">Add</button>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 1%">
	<div class="col-sm-12">
		<div class="table-condensed">
			<table class="table table-bordered" style="width: 70%">
				<thead>
					<tr>
						<th width="10%">Action</th>
						<th>Item</th>
						<th>Nominal</th>
						<th>Kuantitas</th>
						<th>Diskon</th>
						<th>Subtotal</th>
					</tr>				  				
				</thead>
				<tbody>
					<tr ng-repeat="(k,v) in list_pembayaran" ng-if="list_pembayaran.length > 0">
						<td>
							<button type="button" ng-click="deleteItem(k)" class="btn btn-xs btn-default">
	      						<i class="fa fa-times"></i>
	      					</button>
	      					<button type="button" ng-click="editItem(k)" class="btn btn-xs btn-default">
	      						<i class="fa fa-edit"></i>
	      					</button>
		      			</td>
					    <td>{{ v.item }}</td>
					    <td>{{ v.nominal }}</td>
					    <td>{{ v.quantity }}</td>
					    <td>{{ v.diskon }}</td>
					    <td>{{ v.subtotal }}</td>
					</tr>
					<tr ng-if="list_pembayaran.length == 0">
					    <td colspan="6"><b>ITEM PEMBAYARAN KOSONG</b></td>
					</tr>
				</tbody>
		    </table>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 1%;">
	<div class="col-sm-12">
		<button type="button" ng-click="go('/entry-pembayaran')" class="btn btn-primary waves-effect">Back</button>  
	    <button type="submit" ng-disable="list_pembayaran.length == 0" class="btn btn-primary waves-effect"><i class="mdi-content-save"></i> Save</button>
	</div>
</div>