<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
        <div class="col-xs-12">
          <b>Filter Kunjungan</b>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Nama Poli</label>
          <input class="form-control" ng-model="filterParams.poli_name" >
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Dokter</label>
          <input class="form-control" ng-model="filterParams.dokter" >
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Pasien</label>
          <input class="form-control" ng-model="filterParams.pasien" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Dari Tanggal</label>
          <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="filterParams.dari_tanggal" is-open="fopened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="fopen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Sampai Tanggal</label>
          <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="filterParams.sampai_tanggal" is-open="topened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="topen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
        </div>
      </div>
      <div class="col-sm-2" style="margin-top: 2%">
        <button type="button" ng-click="filterData()" class="btn btn-sm btn-success ">
          <span class="glyphicon glyphicon-search"> </span>Filter
        </button>
      </div>
    </div>
  </div>
</div>
<div ba-panel ba-panel-class="bootstrap-panel-panel light-text">
  <div ui-grid="gridOptions" style="height: 280px"ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>