<div class="row row-sm">
  <div class="col-sm-12">
    <form role="form" name="createForm" ng-submit="save(visit)">
      <div ng-include="'app/pages/masterData/visit/visit.form.html'"></div>
    </form>
  </div>
</div>
