<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Code</label>
            <input class="form-control" ng-model="visit.code" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Date</label>
             <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="visit.date" is-open="opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Booknum</label>
            <input class="form-control" ng-model="visit.booknum" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Fk_dokter</label>
            <input class="form-control" ng-model="visit.fk_dokter" value="" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Fk_praktek</label>
            <input class="form-control" ng-model="visit.fk_praktek" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Fk_pasien</label>
            <input class="form-control" ng-model="visit.fk_pasien" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Total</label>
            <input class="form-control" ng-model="visit.total" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Rating</label>
            <input class="form-control" ng-model="visit.rating" value="" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Estimasi_tindakan</label>
            <input class="form-control" ng-model="visit.estimasi_tindakan" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Checking_time</label>
            <input class="form-control" ng-model="visit.checking_time" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Status</label>
            <input class="form-control" ng-model="visit.status" value="" required>
          </div>
        </div> 
    </div>
 </div>
     
<div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
  </i> Save</button>
</div>
</div>