<div class="row row-sm">
  <div class="col-sm-12">
    <form role="form" name="createForm" ng-submit="save(menu)">
      <div ng-include="'app/pages/rbac/menu/menu.form.html'"></div>
    </form>
  </div>
</div>
