<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Label</label>
            <input class="form-control required-input" ng-model="menu.label" value="" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>URL</label>
            <input class="form-control required-input" ng-model="menu.url" value="" required>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Sub Menu</label>
            <ui-select class="ui-select-required"ng-model="menu.parentId" ng-required="true">
              <ui-select-match>
                <span ng-bind="$select.selected.label"></span>
              </ui-select-match>
              <ui-select-choices repeat="x in (parentMenu | filter: $select.search)">
                <span ng-bind="x.label"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
  
       <div class="col-sm-3">
         <div class="form-group-sm">
            <label>Order</label>
            <input type="number"class="form-control required-input" ng-model="menu.order" value="0" required>
          </div>
       </div>

       <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Icon</label>
            <ui-select class="ui-select-required"ng-model="menu.icon" ng-required="true" allow-free-text="true">
              <ui-select-match>
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="icon in (ionicons | filter: $select.search)">
                <span ng-bind="icon"></span><span style="margin-left: 3px">[<i class="{{icon}}"></i>]</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

      </div>
      <br>
      <br>
      <!-- <div ba-panel ba-panel-class="table-panel"> -->
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 280px"></div>
      <!-- </div> -->
  </div>      
  <div class="panel-footer" style="height: 10%">
    <button type="button" class="btn btn-primary waves-effect" ng-click="back()"><i class="mdi-content-back"></i> Back</button>
    <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary waves-effect"><i class="mdi-content-save"></i> Save</button>
  </div>
</div>
