<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total pasien</span>
        <span class="info-box-number">{{ dashboard.total_pasien }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-heart-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Telah diperiksa</span>
        <span class="info-box-number">{{ dashboard.pasien_diperiksa }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-close"  aria-hidden="true"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Belum/Sedang diperiksa</span>
        <span class="info-box-number">{{ dashboard.belum_diperiksa  }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-cash"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total pemasukan</span>
        <span class="info-box-number">{{ dashboard.total_pemasukan }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-person-add"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Pasien baru</span>
        <span class="info-box-number">{{ dashboard.total_pasien_baru }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Pasien lama</span>
        <span class="info-box-number">{{ dashboard.total_pasien_lama }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>