<div class="content-top clearfix">
  <h1 class="al-title" style="color : white">{{ activePageTitle }}</h1>

  <ul class="breadcrumb al-breadcrumb" style="color : white">
    <li>
      <a href="#/dashboard" style="color:white">Home</a></li>
    <li>{{ activePageTitle }}</li>
  </ul>
</div>