<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
      <div class="col-xs-12">
          <div class="row col-xs-6 pull-right">
           <div class="col-xs-5">
           </div>
           <div class="col-xs-1 col-sm-3">
           </div>
          <div class="col-ls-1" ng-show="currentUser.fk_role==1 || currentUser.fk_role==27">
            <button type="button"ng-click="go('user/new')" class="btn btn-sm btn-success">
             <i class="glyphicon glyphicon-plus">  </i> 
                Add New User
            </button>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
      <div class="row">
        <div class="col-sm-3"  ng-show="currentUser.fk_role!=25">
          <div class="form-group-sm">
            <label>Posisi</label>
            <ui-select ng-model="filter.role">
              <ui-select-match placeholder="Pilih posisi">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in roles">
                <span ng-bind="data.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3"  ng-show="currentUser.fk_role==27">
          <div class="form-group-sm">
            <label>Klinik</label>
            <ui-select ng-model="filter.klinik">
              <ui-select-match placeholder="Pilih klinik">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in kliniks">
                <span ng-bind="data.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3" ng-show="currentUser.fk_role == 25">
          <div class="form-group-sm">
            <label>Nama</label>
            <input class="form-control" ng-model="filter.name" value="" required>
          </div>
        </div> 
        <div class="col-sm-2" style="padding-top: 1.6%">
         <button type="button" ng-click="filterData()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter </button>
       </div>
     </div>    
  </div>
  <div class="panel-heading">
    Pencarian
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <input class="form-control" ng-model="search.username" placeholder="Cari nama user">
        </div>
      </div>
    </div>
  </div>
</div>

 <div ba-panel ba-panel-class="table-panel">
  <div ui-grid="gridOptions"  ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
</div>