<div class="panel panel-default" ng-if="currentUrl!='/riwayat-pesanan'">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" ng-if="!(currentUser.fk_role==25 || currentUser.fk_role==26)">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Posisi</label>
            <ui-select class="ui-select-required"ng-model="user.fk_role">
              <ui-select-match placeholder="Pilih posisi">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in roles">
                <span ng-bind="data.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3" ng-if="adminAplikasi && (user.fk_role.id==1 || user.fk_role.id==24) && user.fk_role!=null">
          <div class="form-group-sm">
            <label>Klinik</label>
            <ui-select class="ui-select-required"ng-model="user.fk_klinik" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih klinik">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in kliniks">
                <span ng-bind="data.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
    </div>
    <div ng-if="(tipe_user_selected && klinik_selected && user.fk_role.id!=25) || currentUser.fk_role==25 || currentUser.fk_role==26">
      <br>
      <div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;" ng-if="currentUser.fk_role==1 || currentUser.fk_role==25 || currentUser.fk_role==27">
        <h4>
          Identitas Pasien
        </h4>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3" ng-if="!(user.fk_role.id==27)">
          <div class="form-group-sm">
            <label>ID User</label>
            <input class="form-control" ng-model="user.code" ng-disabled="true">
          </div>
        </div>
   
        <div class="col-sm-3" ng-if="!(currentUser.fk_role==25)">
          <div class="form-group-sm">
            <label>Email</label>
            <input class="form-control required-input" autocomplete="new-password"  type="email" ng-model="user.email" value=""  ng-required = "true">
          </div>
        </div>
        <div class="col-sm-3" ng-if="!(currentUser.fk_role==25)">
          <div class="form-group-sm">
            <label>Password</label>
            <input type="password" class="form-control required-input" autocomplete="new-password"  ng-model="user.password" value="" ng-required = "true">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Nama Lengkap</label>
            <input class="form-control required-input" ng-model="user.fullname" value="" ng-disabled="currentUser.fk_role==25" ng-required = "true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>No.Hp</label>
            <input class="form-control required-input" ng-model="user.mobile" value="" ng-disabled="currentUser.fk_role==25" ng-required = "true">
          </div>
        </div> 
        <div class="col-sm-3">
          <label>Jenis Kelamin</label>
          <ui-select class="ui-select-required" ng-model="user.gender" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih gender">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Laki-laki','Perempuan']">
                <span ng-bind="data"></span>
              </ui-select-choices>
          </ui-select>
        </div>          
        <div class="col-sm-3">
          <div class="form-group-sm">
              <label>Tanggal Lahir</label>
                  <input type="text" class="form-control required-input" uib-datepicker-popup="{{format}}"  ng-model="user.birth_date" is-open="datepicker.opened" ng-disabled="currentUser.fk_role==25" ng-required = "true" ng-click="open()"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Alamat</label>
            <textarea class="form-control" ng-model="user.address" value="" style="height:30px" ng-disabled="currentUser.fk_role==25"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Kode Pos</label>
            <input class="form-control" ng-model="user.kode_pos" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3" ng-if="isPasien">
          <div class="form-group-sm">
            <label>Golangan Darah</label>
            <ui-select class="ui-select-required"ng-model="user.blood_type" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih golongan darah">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['O-','O+','A-','A+','B-','B+','AB-','AB+']">
                <span ng-bind="data"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tempat Lahir</label>
            <input class="form-control" ng-model="detail_pasien.tempat_lahir" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tanggal Daftar</label>
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="detail_pasien.tanggal_daftar" is-open="datepicker1.opened" ng-disabled="currentUser.fk_role==25" ng-click="open1()"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Agama</label>
            <input class="form-control" ng-model="detail_pasien.agama" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>No. Ktp</label>
            <input class="form-control" ng-model="detail_pasien.no_ktp" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <label>Status Nikah</label>
          <ui-select ng-model="detail_pasien.status_nikah" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih status nikah">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Kawin','Belum Kawin']">
                <span ng-bind="data"></span>
              </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>No. Telepon</label>
            <input class="form-control" ng-model="detail_pasien.no_telepon" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Pekerjaan</label>
            <input class="form-control" ng-model="detail_pasien.pekerjaan" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Provinsi</label>
            <ui-select ng-model="detail_pasien.provinsi" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih provinsi">
                <span ng-bind="$select.selected.PROVINCE_NAME"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in provinsiList | filter: $select.search">
                <span ng-bind="data.PROVINCE_NAME"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Kota/Kabupaten</label>
            <ui-select ng-model="detail_pasien.kabupaten_kota" ng-disabled="currentUser.fk_role==25 || !detail_pasien.provinsi">
              <ui-select-match placeholder="Pilih kota/kabupaten">
                <span ng-bind="$select.selected.CITY_NAME"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in kabupatenKotaList | filter: $select.search">
                <span ng-bind="data.CITY_NAME"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Kecamatan</label>
            <ui-select ng-model="detail_pasien.kecamatan" ng-disabled="currentUser.fk_role==25 || !detail_pasien.kabupaten_kota">
              <ui-select-match placeholder="Pilih kecamatan">
                <span ng-bind="$select.selected.DISTRICT_NAME"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in kecamatanList | filter: $select.search">
                <span ng-bind="data.DISTRICT_NAME"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Kelurahan</label>
            <ui-select ng-model="detail_pasien.kelurahan" ng-disabled="currentUser.fk_role==25 || !detail_pasien.kecamatan">
              <ui-select-match placeholder="Pilih kelurahan">
                <span ng-bind="$select.selected.SUB_DISTRICT_NAME"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in kelurahanList | filter: $select.search">
                <span ng-bind="data.SUB_DISTRICT_NAME"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <br>
      <div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;" ng-if="currentUser.fk_role==1 || currentUser.fk_role==25 || currentUser.fk_role==27">
        <h4>
          Penanggung Jawab
        </h4>
      </div>
      <div class="row" style="margin-top: 1%">
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Nama lengkap</label>
              <input class="form-control" ng-model="detail_pasien.pj_fullname" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Provinsi</label>
              <ui-select ng-model="detail_pasien.pj_provinsi" ng-disabled="currentUser.fk_role==25">
                <ui-select-match placeholder="Pilih provinsi">
                  <span ng-bind="$select.selected.PROVINCE_NAME"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in provinsiListpj | filter: $select.search">
                  <span ng-bind="data.PROVINCE_NAME"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Kota/Kabupaten</label>
              <ui-select ng-model="detail_pasien.pj_kabupaten_kota" ng-disabled="currentUser.fk_role==25 || !detail_pasien.pj_provinsi">
                <ui-select-match placeholder="Pilih kota/kabupaten">
                  <span ng-bind="$select.selected.CITY_NAME"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in kabupatenKotaListpj | filter: $select.search">
                  <span ng-bind="data.CITY_NAME"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Kecamatan</label>
              <ui-select ng-model="detail_pasien.pj_kecamatan" ng-disabled="currentUser.fk_role==25 || !detail_pasien.pj_kabupaten_kota">
                <ui-select-match placeholder="Pilih kecamatan">
                  <span ng-bind="$select.selected.DISTRICT_NAME"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in kecamatanListpj | filter: $select.search">
                  <span ng-bind="data.DISTRICT_NAME"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Kelurahan</label>
              <ui-select ng-model="detail_pasien.pj_kelurahan" ng-disabled="currentUser.fk_role==25 || !detail_pasien.pj_kecamatan">
                <ui-select-match placeholder="Pilih kelurahan">
                  <span ng-bind="$select.selected.SUB_DISTRICT_NAME"></span>
                </ui-select-match>
                <ui-select-choices repeat="data in kelurahanListpj | filter: $select.search">
                  <span ng-bind="data.SUB_DISTRICT_NAME"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Alamat</label>
              <input class="form-control" ng-model="detail_pasien.pj_alamat" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Kode Pos</label>
              <input class="form-control" ng-model="detail_pasien.pj_kode_pos" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>HP</label>
              <input class="form-control" ng-model="detail_pasien.pj_hp" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Email</label>
              <input class="form-control" ng-model="detail_pasien.pj_email" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>No. Telepon</label>
              <input class="form-control" ng-model="detail_pasien.pj_no_telepon" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Hubungan dengan pasien</label>
              <input class="form-control" ng-model="detail_pasien.pj_hubungan_dengan_pasien" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
      </div>
      <br>
      <div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;" ng-if="currentUser.fk_role==1 || currentUser.fk_role==25 || currentUser.fk_role==27">
        <h4>
          Penjamin Pasien
        </h4>
      </div>
      <div class="row" style="margin-top: 1%">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Jenis Penjamin</label>
            <ui-select ng-model="penjamin.jenis_penjamin" ng-disabled="currentUser.fk_role==25">
              <ui-select-match placeholder="Pilih penjamin">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in ['Umum', 'BPJS', 'Asuransi'] | filter: $select.search">
                <span ng-bind="data"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div ng-if="penjamin.jenis_penjamin=='Umum'">
        <div class="row" style="margi`-top: 1%">
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Nama lengkap</label>
                <input class="form-control" ng-model="penjamin.fullname" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Provinsi</label>
                <ui-select ng-model="penjamin.provinsi" ng-disabled="currentUser.fk_role==25">
                  <ui-select-match placeholder="Pilih provinsi">
                    <span ng-bind="$select.selected.PROVINCE_NAME"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="data in provinsiListPenjamin | filter: $select.search">
                    <span ng-bind="data.PROVINCE_NAME"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Kota/Kabupaten</label>
                <ui-select ng-model="penjamin.kabupaten_kota" ng-disabled="currentUser.fk_role==25 || !penjamin.provinsi">
                  <ui-select-match placeholder="Pilih kota/kabupaten">
                    <span ng-bind="$select.selected.CITY_NAME"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="data in kabupatenKotaListPenjamin | filter: $select.search">
                    <span ng-bind="data.CITY_NAME"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Kecamatan</label>
                <ui-select ng-model="penjamin.kecamatan" ng-disabled="currentUser.fk_role==25 || !penjamin.kabupaten_kota">
                  <ui-select-match placeholder="Pilih kecamatan">
                    <span ng-bind="$select.selected.DISTRICT_NAME"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="data in kecamatanListPenjamin | filter: $select.search">
                    <span ng-bind="data.DISTRICT_NAME"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Kelurahan</label>
                <ui-select ng-model="penjamin.kelurahan" ng-disabled="currentUser.fk_role==25 || !penjamin.kecamatan">
                  <ui-select-match placeholder="Pilih kelurahan">
                    <span ng-bind="$select.selected.SUB_DISTRICT_NAME"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="data in kelurahanListPenjamin | filter: $select.search">
                    <span ng-bind="data.SUB_DISTRICT_NAME"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Alamat</label>
                <input class="form-control" ng-model="penjamin.alamat" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Kode Pos</label>
                <input class="form-control" ng-model="penjamin.kode_pos" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>HP</label>
                <input class="form-control" ng-model="penjamin.hp" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Email</label>
                <input class="form-control" ng-model="penjamin.email" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>No. Telepon</label>
                <input class="form-control" ng-model="penjamin.no_telepon" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group-sm">
                <label>Hubungan dengan pasien</label>
                <input class="form-control" ng-model="penjamin.hubungan_dengan_pasien" value="" ng-disabled="currentUser.fk_role==25">
              </div>
            </div>
        </div>
      </div>
      <div ng-if="penjamin.jenis_penjamin=='BPJS'">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>No. Anggota/Polis</label>
              <input class="form-control" ng-model="penjamin.no_anggota_polis" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Jenis anggota</label>
              <input class="form-control" ng-model="penjamin.jenis_anggota" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>From</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="penjamin.from" is-open="datepicker2.opened" ng-disabled="currentUser.fk_role==25" ng-click="open2()"/>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>To</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="penjamin.to" is-open="datepicker3.opened" ng-disabled="currentUser.fk_role==25" ng-click="open3()"/>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="penjamin.jenis_penjamin=='Asuransi'">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>No. Anggota/Polis</label>
              <input class="form-control" ng-model="penjamin.no_anggota_polis" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Nama Polis</label>
              <input class="form-control" ng-model="penjamin.nama_polis" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Nama Asuransi</label>
              <input class="form-control" ng-model="penjamin.nama_asuransi" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>Jenis anggota</label>
              <input class="form-control" ng-model="penjamin.jenis_anggota" value="" ng-disabled="currentUser.fk_role==25">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>From</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="penjamin.from" is-open="datepicker2.opened" ng-disabled="currentUser.fk_role==25" ng-click="open2()"/>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group-sm">
              <label>To</label>
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="penjamin.to" is-open="datepicker3.opened" ng-disabled="currentUser.fk_role==25" ng-click="open3()"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tujuan Unit</label>
            <input class="form-control" ng-model="penjamin.tujuan_unit" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Rujukan</label>
            <input class="form-control" ng-model="penjamin.rujukan" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Nama UPK</label>
            <input class="form-control" ng-model="penjamin.nama_upk" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Dokter Tugas</label>
            <input class="form-control" ng-model="penjamin.dokter_tugas" value="" ng-disabled="currentUser.fk_role==25">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary waves-effect" ng-click="savePenjamin()" ng-disabled="!penjamin.jenis_penjamin"><i class="mdi-content-save">
          </i>Tambahkan/Simpan</button>
        </div>
      </div>
      <div ui-grid="penjaminGridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 150px"></div>
    </div>
  </div>
  <div ng-show="tipe_user_selected && user.fk_role.id==25" ng-include="'app/pages/masterData/klinik/register-dokter.html'"></div>
  <div ng-show="currentUser.fk_role!=25">
    <div class="panel-footer" style="height: 10%">
      <button type="button" class="btn btn-primary waves-effect" ng-if="back_status" ng-click="back()">Back</button>
      <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
      </i> Save</button>
    </div>
  </div>
</div>

<div ng-if="currentUrl=='/riwayat-pesanan'">
  <div class="panel panel-default">
    <div class="panel-heading">
      Filter
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3"  ng-if="currentUser.fk_role!=25">
          <div class="form-group-sm">
            <label>Tanggal Waktu Pesan</label>
             <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="filter.tanggal" is-open="datepicker.opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" ng-disabled="currentUser.fk_role==25"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="col-sm-2" style="padding-top: 1.6%">
         <button type="button" ng-click="filterDataRiwayatPesanan()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter </button>
       </div>
      </div>    
    </div>
  </div>
</div>

<div ng-if="(currentUser.fk_role==25 || currentUser.fk_role==26 || currentUser.fk_role==1) && currentController=='edit' && user.fk_role.id==26">
  <div class="panel panel-default" ng-if="(currentUser.fk_role==25 || currentUser.fk_role==26 || currentUser.fk_role==1) && currentController=='edit'">
    <div class="panel-heading" ng-if="currentUrl!='/riwayat-pesanan'">
      Riwayat Kunjungan
    </div>
      <div ba-panel ba-panel-class="table-panel" ng-if="pasienVisitData">
        <div ui-grid="pasienVisitGridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
      </div>
      <div class="panel panel-body" ng-if="!pasienVisitData" style="text-align:center">
        <h2 ng-if="currentUrl!='/riwayat-pesanan'">Tidak ada riwayat kunjungan</h2>
        <h2 ng-if="currentUrl=='/riwayat-pesanan'">Tidak ada riwayat pesanan</h2>
      </div>
  </div>

  <div class="panel panel-default" ng-if="(currentUser.fk_role==25 || currentUser.fk_role==26 || currentUser.fk_role==1) && currentUrl!='/riwayat-pesanan'">
    <div class="panel-heading">
      History Medical Record
    </div>
      <div ba-panel ba-panel-class="table-panel">
        <div ui-grid="pasienMedrecGridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
      </div>
  </div>

  <div class="panel panel-default" ng-if="(currentUser.fk_role==25 || currentUser.fk_role==26 || currentUser.fk_role==1) && currentUrl!='/riwayat-pesanan'">
    <div class="panel-heading">
      History Resep
    </div>
      <div ba-panel ba-panel-class="table-panel">
        <div ui-grid="pasienResepGridOptions"ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
      </div>
  </div>
</div>