<div class="row row-sm" ng-if="currentUrl!='/riwayat-pesanan'">
  <div class="col-sm-12">
    <form role="form" autocomplete="off" name="createForm" ng-submit="save(user)" >
      <div ng-include="'app/pages/rbac/user/user.form.html'"></div>
    </form>
  </div>
</div>
<div class="row row-sm" ng-if="currentUrl=='/riwayat-pesanan'">
  <div class="col-sm-12">
     <div ng-include="'app/pages/rbac/user/user.form.html'"></div>
  </div>
</div>
