<div class="row row-sm">
  <div class="col-sm-12">
		<div ba-panel ba-panel-title="Perbaharui Jadwal Praktek" >	
		    <form role="form" name="createForm" ng-submit="save(jadwal_praktek)">
			   <div ng-include="'app/pages/penanganan/praktek_dokter/jadwal_praktek.form.html'"></div>
		    </form>
		</div>
	</div>
</div>
