<div class="row">
  <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Remark </label>
          <input type="text" class="form-control" ng-model="jadwal_praktek.remark" value="">
      </div>
  </div>

  <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Dokter </label>
          <ui-select class="ui-select-required"ng-model="jadwal_praktek.dokter">
            <ui-select-match placeholder="Pilih Dokter">
              <span ng-bind="$select.selected.fullname"></span>
            </ui-select-match>
            <ui-select-choices repeat="data in dokter">
              <span ng-bind="data.fullname"></span>
            </ui-select-choices>
          </ui-select>
      </div>
  </div>

   <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Waktu buka </label>
          <input type="time" class="form-control required-input" ng-model="jadwal_praktek.open_time" value="" required>
      </div>
  </div>

   <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Waktu tutup </label>
          <input type="time" class="form-control required-input" ng-model="jadwal_praktek.close_time" value="" required>
      </div>
  </div>

  <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Status </label>
            <ui-select class="ui-select-required"ng-model="jadwal_praktek.status">
              <ui-select-match placeholder="Pilih Status">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="data in status">
                <span ng-bind="data"></span>
              </ui-select-choices>
          </ui-select>
      </div>
  </div>
</div>

<div class="row" style="margin-top: 1%;">
    <button type="button" ng-click="go('/praktek-dokter')" class="btn btn-primary waves-effect">Back</button>  
    <button type="submit"  class="btn btn-primary waves-effect"><i class="mdi-content-save"></i> Save</button>
  </div>
</div>