<div ba-panel ba-panel-title="Daftar Praktek Hari ini" ba-panel-class="bootstrap-panel-panel light-text">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group-sm">
        <label>Dokter</label>
        <ui-select ng-model="filter.dokter">
          <ui-select-match placeholder="Pilih dokter">
            <span ng-bind="$select.selected.fullname"></span>
          </ui-select-match>
          <ui-select-choices repeat="data in dokters">
            <span ng-bind="data.fullname"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group-sm">
          <label>Tanggal</label>
           <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="filter.tanggal" is-open="datepicker.opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
    </div>
    <div class="col-sm-2" style="padding-top: 1.9%">
      <button type="button" ng-click="filterDataPraktek()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter</button>
    </div>
  </div>
  <div ui-grid="gridOptionsHistoryPraktek" style="height: 280px" ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
        <div class="col-xs-12">
          <b>Filter</b>
            <!-- <span>{{$state.current.title}}</span><br /><br /> -->
            <!-- <div class="col-xs-10"></div>
            <button type="button" ng-show="currentUser.level != 'ADMIN_DIST'" ng-click="go('menu/new')" class="btn btn-sm btn-success">
             <i class="glyphicon glyphicon-plus">
             </i> 
           </button>        -->   
        </div>
   </div>
  </div>
<div class="panel-body">
  <div class="row">
      <!-- <div class="row"> -->
    <div class="col-sm-3">
      <div class="form-group-sm">
        <label>Nama Poli</label>
        <input class="form-control" ng-model="filterParams.poli_name" >
      </div>
    </div> 

    <div class="col-sm-3">
      <div class="form-group-sm">
        <label>Tipe Poli</label>
        <input class="form-control" ng-model="filterParams.poli_type" >
      </div>
    </div>   
    <div class="col-sm-2" style="padding-top: 1.9%">
      <button type="button" ng-click="filterData()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter</button>
    </div>
  </div>
 </div>     
</div>


<div ba-panel ba-panel-title="List Antrian Pasien" ba-panel-class="bootstrap-panel-panel light-text">
  <div ui-grid="gridOptions" style="height: 280px" ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>


