<div class="row row-sm">
  <div class="col-sm-12">
		<div ba-panel ba-panel-title="Cek Tensi" >	
		    <form role="form" name="createForm" ng-submit="save(praktek_dokter)">
			   <div ng-include="'app/pages/penanganan/praktek_dokter/praktek_dokter.form.html'"></div>
		    </form>
		</div>
	</div>
</div>
