<div class="row">
    <div class="col-sm-3">
        <div class="form-group-sm">
            <label>Tensi</label>
            <input class="form-control required-input" ng-model="praktek_dokter.tensi" value="" required>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group-sm">
            <label>Berat Badan</label>
            <input type="number" step="0.01" class="form-control required-input" ng-model="praktek_dokter.berat_badan" value="" required>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group-sm">
            <label>Keluhan</label>
            <textarea class="form-control required-input" ng-model="praktek_dokter.keluhan" value="" required style="height:30px"></textarea>
        </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1%;">
      <button type="button" ng-click="go('/praktek-dokter')" class="btn btn-primary waves-effect">Back</button>  
      <button type="submit"  class="btn btn-primary waves-effect"><i class="mdi-content-save"></i> Save</button>
    </div>
</div>