<div class="row">
	<div class="col-sm-3">
        <div class="form-group-sm">
            <label>Tensi</label>
            <input class="form-control required-input" ng-model="entry_tindakan.tensi" value="" required>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group-sm">
            <label>Berat Badan</label>
            <input type="number" step="0.01" class="form-control required-input" ng-model="entry_tindakan.berat_badan" value="" required>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group-sm">
            <label>Keluhan</label>
            <textarea class="form-control required-input" ng-model="entry_tindakan.keluhan" value="" required style="height:30px"></textarea>
        </div>
    </div>
    
	<div class="col-sm-3">
        <div class="form-group-sm">
            <label>Gejala</label>
            <textarea class="form-control required-input" ng-model="entry_tindakan.gejala" value="" style="height:30px" required></textarea>
        </div>
	</div>
	<div class="col-sm-3">
        <div class="form-group-sm">
            <label>Indikasi</label>
            <textarea class="form-control required-input" ng-model="entry_tindakan.indikasi" value="" style="height:30px" required></textarea>
        </div>
	</div>
	<div class="col-sm-3">
        <div class="form-group-sm">
            <label>Diagnosa</label>
            <textarea class="form-control required-input" ng-model="entry_tindakan.diagnosa" value="" style="height:30px" required></textarea>
        </div>
	</div>
</div>  
<br><br>
<div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;">
	<h4>
		PLANNING
	</h4>
</div>
<div class="row" style="margin-top: 1%">
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_bayar' ng-true-value=true ng-false-value=false>Bayar
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_konsul' ng-true-value=true ng-false-value=false>Konsul
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_pemeriksaan' ng-true-value=true ng-false-value=false>Pemeriksaan
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_resep' ng-true-value=true ng-false-value=false>Resep
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_inap' ng-true-value=true ng-false-value=false>Inap
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group-sm">
		    <input type="checkbox" ng-model = 'entry_tindakan.flag_operasi' ng-true-value=true ng-false-value=false>Operasi
		</div>
	</div>
</div>
<div ng-if="entry_tindakan.flag_konsul || entry_tindakan.flag_pemeriksaan || entry_tindakan.flag_inap || entry_tindakan.flag_operasi" class="row" style="margin-top: 1%">
	<div class="col-sm-3">
		<div class="form-group-sm">
			<label>{{planning.booking_label}} ke:</label>
		    <ui-select ng-model="planning.booking_ke">
	          <ui-select-match>
	            <span ng-bind="$select.selected.poli_name"></span>
	          </ui-select-match>
	          <ui-select-choices repeat="data in jadwal_praktek">
	            <span ng-bind="data.poli_name"></span>
	          </ui-select-choices>
	        </ui-select>
		</div>
	</div>
</div>
<br><br>
<div class="panel-header" style="border-bottom: 1px rgb(211,211,211) solid;">
	<h4>
		KELOLA OBAT
	</h4>
</div>

<div class="row" style="margin-top: 1%">
	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Obat</label>
            <input class="form-control required-input" ng-model="obat.obat" value=""></textarea>
	    </div>
	</div>

	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Dosis</label>
            <input class="form-control required-input" ng-model="obat.dosis" value=""></textarea>
	    </div>
	</div>

	<div class="col-sm-3">
    	<div class="form-group-sm">
            <label>Quantitas</label>
            <input type="number" class="form-control required-input" ng-model="obat.quantity" value=""></textarea>
	    </div>
	</div>


	<div class="col-sm-3">
		<div class="form-group-sm">
			<br>
			<button type="button" ng-click="addObat(obat)" class="btn btn-primary waves-effect">Add</button>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 1%">
	<div class="col-sm-12">
		<div class="table-condensed">
			<table class="table table-bordered" style="width: 70%">
				<thead>
					<tr>
						<th width="10%">Action</th>
						<th>Obat</th>
						<th>Dosis</th>
						<th>Quantitas</th>
					</tr>				  				
				</thead>
				<tbody>
					<tr ng-repeat="(k,v) in list_obat" ng-if="list_obat.length > 0">
						<td>
							<button type="button" ng-click="deleteObat(k)" class="btn btn-datas btn-default">
	      						<i class="fa fa-times"></i>
	      					</button>
	      					<button type="button" ng-click="editObat(k)" class="btn btn-datas btn-default">
	      						<i class="fa fa-edit"></i>
	      					</button>
		      			</td>
					    <td>{{ v.obat }}</td>
					    <td>{{ v.dosis }}</td>
					    <td>{{ v.quantity }}</td>
					</tr>
					<tr ng-if="list_obat.length == 0">
					    <td colspan="4"><b>DATA OBAT KOSONG</b></td>
					</tr>
				</tbody>
		    </table>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 1%;">
	<div class="col-sm-12">
		<button type="button" ng-click="go('/entry-tindakan')" class="btn btn-primary waves-effect">Back</button>  
	    <button type="submit"  class="btn btn-primary waves-effect"><i class="mdi-content-save"></i> Save</button>
	</div>
</div>