<div ba-panel ba-panel-title="Profil Pasien" ba-panel-class="bootstrap-panel-panel light-text">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Nama</label>
            <text class="form-control"  value="">{{ user.fullname}}</text>
          </div>
      </div>


      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Jenis Kelamin</label>
            <text class="form-control" ng-model="user.gender" value="">{{ user.gender }}</text>
          </div>
      </div>


      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Email</label>
            <text class="form-control" value="">{{  user.email }}</text>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>No Telepon</label>
            <text class="form-control" value="">{{ user.mobile }}</text>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Tanggal Lahir</label>
            <text class="form-control" value="">{{ user.birth_date }}</text>
          </div>
      </div>

       <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Umur</label>
            <text class="form-control"  value="" >{{ user.umur }}</text>
          </div>
      </div>


      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Alamat</label>
            <textarea class="form-control" ng-model="user.address" value="" style="height: 30px">{{ user.address }}</textarea>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Golongan Darah</label>
            <text class="form-control" ng-model="user.blood_type" value="">{{ user.blood_type }}</text>
          </div>
      </div>


    </div>
  </div> 
</div>


<div ba-panel ba-panel-title="List Medical Record Pasien" ba-panel-class="bootstrap-panel-panel light-text">
  <div ui-grid="gridOptionsMedrec" style="height: 100%" ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>

<div ba-panel ba-panel-title="Jejak Rekam Penggunaan Obat" ba-panel-class="bootstrap-panel-panel light-text">
  <div ui-grid="gridOptionsResep" style="height: 100%" ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>


<div class="row row-sm">
  <div class="col-sm-12">
  	<div ba-panel ba-panel-title="Form Entry Data">	
	  	<form role="form" name="createForm" ng-submit="save(entry_tindakan)">
			<div ng-include="'app/pages/penanganan/entry_tindakan/entry_tindakan.form.html'"></div>
	    </form>
	</div>
  </div>
</div>
