<div class="panel panel-default">
  <!-- <div class="panel-heading" style="height: 10%">
    <div class="row">
        <div class="col-xs-12">
          <b>Filter</b>   
        </div>
   </div>
  </div> -->
  <div class="panel-body">
    <div class="row">
        <!-- <div class="row"> -->
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Nama Poli</label>
          <input class="form-control" ng-model="filterParams.poli_type" >
        </div>
      </div> 

       <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Tipe Poli</label>
          <input class="form-control" ng-model="filterParams.poli_name">
        </div>
      </div>
      <div class="col-sm-3" ng-if="currentUser.fk_role!=25">
        <div class="form-group-sm">
          <label>Dokter</label>
          <ui-select ng-model="filterParams.dokter">
            <ui-select-match placeholder="Pilih Dokter">
              <span ng-bind="$select.selected.fullname"></span>
            </ui-select-match>
            <ui-select-choices repeat="data in dokter">
              <span ng-bind="data.fullname"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Status</label>
          <ui-select ng-model="filterParams.status" ng-required="true">
            <ui-select-match allow-clear>
              <span ng-bind="$select.selected.val"></span>
            </ui-select-match>
            <ui-select-choices repeat="x in (status | filter: $select.search)">
              <span ng-bind="x.val"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>    
    </div>    
      
      <div class="col-sm-2" style="margin-top: 2%">
        <button type="button" ng-click="filterData()" class="btn btn-sm btn-success ">
          <span class="glyphicon glyphicon-search"> </span>Filter
        </button>
      </div>
    </div>
   </div>     
</div>


<div ba-panel ba-panel-title="List Data Pasien" ba-panel-class="bootstrap-panel-panel light-text">
  <div ui-grid="gridOptions" style="height: 280px" ui-grid-pagination ui-grid-auto-resize class="table-responsive grid"></div>
</div>


