<div class="panel panel-default">
	<div class="panel-body" ng-if="has_booking">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div id="printEle">
				<span style="font-size: 18px">
					<b>Nama Poli</b> 		:   {{praktek.poli_name}}</h5> <br>
					<b>Nama klinik</b> 		: 	{{praktek.fk_klinik.name}} <br>
					<b>Hari Praktek</b> 	: 	{{praktek.day}} <br> 
					<b>Jam buka - tutup</b>	: {{praktek.time_from}} - {{praktek.time_to}}<br>
					<b>Nama Dokter</b> : {{praktek.fk_dokter.fullname}}<br>
					<b>Harga</b> : Rp.{{praktek.price_rate}}-<br>
					<b>Alamat</b> : {{praktek.fk_klinik.alamat}}<br>
					<b>No. Telepon, Email</b> : {{praktek.fk_klinik.phone}}, {{praktek.fk_klinik.email}}<br>
					dengan no. Antrian:<br>
					<h1 style="text-align: center;">{{booknum}}</h1><br>
					dan estimasi tindakan pada pukul:<br>
					<h1 style="text-align: center;">{{ estimasi_tindakan }}</h1><br>
					Status Poliklinik: {{praktek.fk_history_praktek.status}}<br>
					Remark: {{praktek.fk_history_praktek.remark}}<br>
				</span>
			</div>
				<span>
					<a href="#!/riwayat-pesanan">Lihat riwayat pesanan</a>
				</span>
				<br>
			<div style="text-align: center;">
				<button ng-click="print('printEle')">Print no. Antrian</button>
			</div>
		</div>
	</div>

	<div class="panel-body" ng-if="!has_booking">
		<!-- <div class="col-lg-4 col-md-4 col-sm-4"></div> -->
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3 align="center">Belum Melakukan Pesanan</h3>
		</div>
		<!-- <div class="col-lg-4 col-md-4 col-sm-4"></div> -->
	</div>
	<!-- <div class="panel-footer" style="height: 10%">
		Footer
	</div> -->
</div>