<div class="panel panel-default">
	<div class="panel-heading">
		<div class="col-xs-12">
        	{{praktek.fk_klinik.name}}
		</div>
    </div>
	<div class="panel-body">
		<div class="row">	
			<div class="col-lg-5 col-xl-5 col-md-5 col-sm-5">
				<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
					<img ng-src="storage/images/{{ praktek.fk_klinik.pict_1 }}" width="70%" height="70%"  
						ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' "
						style=" 
							height: 200px;
							width:  200px;
							display: block;
							margin-left: auto;
							margin-right: auto;" >
					<img ng-src="storage/images/noimage.png" width="100%" height="100%" 
						ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''"
						style=" 
							height: 200px;
							width:  200px;
							display: block;
							margin-left: auto;
							margin-right: auto;">
				</div>

				<div class="row">
					<div class="col-lg-4 col-xl-4 col-md-4 col-sm-4"></div>	
					<div class="col-lg-4 col-xl-4 col-md-4 col-sm-4" >
						<img ng-src="storage/images/{{ praktek.fk_klinik.pict_1 }}" width="30%" height="30%" 
							ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' "
							style=" 
								height: 30px;
								width:  30px;
								margin-top: 5%;
								" >
						<img ng-src="storage/images/noimage.png" width="100%" height="100%" 
							ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''"
							style=" 
								height: 30px;
								width:  30px;
								margin-top: 5%;
								" >
						<img ng-src="storage/images/{{ praktek.fk_klinik.pict_2 }}" width="30%" height="30%"  
							ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' "
							style=" 
								height: 30px;
								width:  30px;
								margin-top: 5%;
								" >
						<img ng-src="storage/images/noimage.png" width="100%" height="100%" 
							ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''"
							style=" 
								max-height: 30px;
								max-width:  30px;
								margin-top: 5%;
								" >
						<img ng-src="storage/images/{{ praktek.fk_klinik.pict_3 }}" width="30%" height="30%" 
							ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' "
							style=" 
								height: 30px;
								width:  30px;
								margin-top: 5%;
								" >
						<img ng-src="storage/images/noimage.png" width="100%" height="100%" 
							ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''"
							style=" 
								max-height: 30px;
								max-width:  30px;
								margin-top: 5%;
								" >
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-xl-7 col-md-7 col-sm-7" 
				style="	
					margin-top: 1%;
		  			overflow: hidden;
		  			text-overflow:ellipsis;
					/*border-style: solid;*/
					"
				>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h3><b>{{praktek.poli_name}}, {{praktek.fk_klinik.name}}</b></h3>
					<br>
					<b>Jadwal</b> : {{praktek.day}}, {{praktek.time_from}} - {{praktek.time_to}}<br>
					<b>Dokter </b> : {{praktek.fk_dokter.fullname}}<br>
					<b>Alamat </b>: {{praktek.fk_klinik.alamat}}<br>
					<b>Estimasi biaya </b> : Rp. {{praktek.price_rate}},-<br>
					<b>Jumlah Antrian</b> : {{ praktek.jumlah_antrian }} Antrian 					
				</div>
				<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" style="margin-top: 1%;margin-bottom: 1%">
					<h5>Rating ({{praktek.rating}})</h5>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12" >
				<br>
				<div class="col-lg-12 col-md-12 col-sm-12" ng-if="currentUser.fk_role==1">
					<div class="col-lg-5 col-md-5 col-sm-5">
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<input class="form-control autocomplete" ng-model="pasien" placeholder="Nama Pasien" 
			            typeahead="pasien.fullname for pasien in pasiens | filter:{fullname:$viewValue}"
			            typeahead-editable="false"
			            typeahead-on-select="onSelect($item)">
					<br>
					</div>
		            <div class="col-lg-4 col-md-4 col-sm-4">
					</div>
				</div>
				<label>Keluhan:</label><br>
				<textarea class="form-control" placeholder="isi keluhan" cols="50" ng-model="keluhan"></textarea>
				<div ng-if="pasien">
					<br><br>
					<button class="btn btn-primary waves-effect" type="button" ng-click="addPenjamin()">Tambah/Edit Penjamin</button>
					<br>
					<div ui-grid="penjaminGridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 150px"></div>
				</div>
				<br>
				<button type="button" class="btn btn-primary waves-effect" ng-disabled="currentUser.fk_role==1 && !(pasien)" ng-click="book()" style="margin: 0 auto;display: block;">Book Now</button>
			</div>
		</div>
		
	</div>
	<!-- <div class="panel-footer" style="height: 10%">
		Footer
	</div> -->
</div>