<div class="panel panel-default">
	<div class="panel-heading">
		Filter
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group-sm">
					<label>Tipe Poli</label>
					<ui-select ng-model="filter.poli_type">
		              <ui-select-match placeholder="Pilih tipe poli">
		                <span ng-bind="$select.selected"></span>
		              </ui-select-match>
		              <ui-select-choices repeat="data in ['Umum', 'Gigi', 'Medis', 'Psikologi']">
		                <span ng-bind="data"></span>
		              </ui-select-choices>
		            </ui-select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group-sm">
					<label>Lokasi</label>
					<input class="form-control" ng-model="filter.lokasi" value="">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group-sm">
					<label>Tanggal</label>
					<p class="input-group">
		                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="datepicker.options" ng-model="filter.tanggal" is-open="opened" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
		                <span class="input-group-btn">
		                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span>
		            </p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group-sm">
					<label>Rentang Harga</label>
					<ui-select ng-model="filter.harga">
		              <ui-select-match placeholder="Pilih rentang harga">
		                <span ng-bind="$select.selected.display"></span>
		              </ui-select-match>
		              <ui-select-choices repeat="data in price_rate">
		                <span ng-bind="data.display"></span>
		              </ui-select-choices>
		            </ui-select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2" style="padding-top: 1.9%">
		      <button type="button" ng-click="filterData()" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search"> </span>Filter</button>
		    </div>
			<!-- <div class="col-sm-3">
				<div class="form-group-sm">
				</div>
			</div> -->
			
		</div><br>
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group-sm">
					<label>Urutkan berdasarkan:</label>
					<ui-select ng-model="sort.param">
		              <ui-select-match placeholder="Pilih parameter urutan">
		                <span ng-bind="$select.selected"></span>
		              </ui-select-match>
		              <ui-select-choices repeat="data in sortParams">
		                <span ng-bind="data"></span>
		              </ui-select-choices>
		            </ui-select>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group-sm">
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="row">
	<div ba-panel style=" height:300px; width: 250px; display: inline-block; margin : 1%;  " ng-repeat="praktek in prakteks">
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" >
			<a href="#!/list-poli/{{praktek.id}}/detail">
				<img style="border-radius: 3%; width:150px;height: 150px;display: inline-block; " 
					ng-src="storage/images/{{praktek.fk_klinik.pict_1}}" width="100%" height="100%" ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' ">
				<img style="border-radius: 3%; width:150px;height: 150px;display: inline-block; " 
					ng-src="storage/images/noimage.png" width="100%" height="100%" ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''">

			</a>
		</div>
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" 
			style="	height: 100px; 
				white-space: nowrap;
	  			overflow: hidden;
	  			text-overflow:ellipsis;
	  			margin-top: 3%;
			">
			<a href="#!/list-poli/{{praktek.id}}/detail">{{praktek.poli_name}}</a><br>
			{{praktek.fk_klinik.name}}<br>
			{{praktek.fk_dokter.fullname}} - {{praktek.day}}<br>
			{{praktek.fk_klinik.alamat}}<br>
			Rp. {{praktek.price_rate}},-<br>
		</div>
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
			{{praktek.jumlah_antrian}} Antrian<br>
			Rating ({{praktek.rating}})<br>
		</div>
	</div>
</div>
 -->

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="praktek in prakteks"> 
    <div class="klinik-box">
    	<!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
		  <span class="klinik-box-icon bg-aqua">
		  	<a href="#!/list-poli/{{praktek.id}}/detail">
				<img ng-src="storage/images/{{praktek.fk_klinik.pict_1}}" width="100%" height="100%" 
					ng-if="praktek.fk_klinik.pict_1 != null && praktek.fk_klinik.pict_1 != '' ">
				<img ng-src="storage/images/noimage.png" width="100%" height="100%" 
					ng-if="praktek.fk_klinik.pict_1 == null || praktek.fk_klinik.pict_1 == ''">
			</a>
		  </span>
    	<!-- </div> -->
    	<!-- <div class="col-md-3 col-sm-6 col-xs-12"> -->
	      	<div class="klinik-box-content">
	      	  <span class="klinik-box-header"><a href="#!/list-poli/{{praktek.id}}/detail">{{praktek.poli_name}}</a></span>
	      	  <span class="klinik-box-text">
	      	  		<b>Nama</b> : {{praktek.fk_klinik.name}}<br>
					<b>Dokter</b> : {{praktek.fk_dokter.fullname}}<br>
					<b>Hari</b> : {{praktek.day}}, {{praktek.open_time}}-{{praktek.close_time}} <br>
					<b>Alamat</b> : {{praktek.fk_klinik.alamat}}<br>
					<b>Biaya</b> :Rp. {{praktek.price_rate}},-<br>
					<b>Jumlah Antrian</b> {{praktek.jumlah_antrian}} Antrian<br><br>
					Rating ({{praktek.rating}})<br>
	      	  </span>
	    	</div>
    	<!-- </div> -->
    </div>
  </div>
</div>
<!-- <div class="row">
	<div ba-panel class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-3 " style="height: : 200px" ng-repeat="praktek in prakteks">
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" >
			<a href="#!/list-poli/{{praktek.id}}/detail">
				<img style="border-radius: 3%; width:150px;height: 150px;display: inline-block;" 
					ng-src="storage/images/{{praktek.fk_klinik.pict_1}}" width="100%" height="100%">
			</a>
		</div>
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" 
			style="	height: 100px; 
				white-space: nowrap;
	  			overflow: hidden;
	  			text-overflow:ellipsis;
	  			margin-top: 3%;
			">
			<a href="#!/list-poli/{{praktek.id}}/detail">{{praktek.poli_name}}</a><br>
			{{praktek.fk_klinik.name}}<br>
			{{praktek.fk_dokter.fullname}} - {{praktek.day}}<br>
			{{praktek.fk_klinik.alamat}}<br>
			Rp. {{praktek.price_rate}},-<br>
		</div>
		<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
			Rating ({{praktek.rating}})<br>
		</div>
	</div>
</div> -->
<!-- <div>
	<div class="panel panel-default">
		<div class="panel panel-body">
			<div class="row">
				
			</div>
		</div>
	</div>
</div> -->

	<!-- <div ng-repeat="praktek in prakteks"> -->
		<!-- <div ba-panel ng-repeat="praktek in prakteks">
			<div class="col-lg-3 col-md-12 col-sm-12">
				<img src="http://www.phc.co.id/images/IMG_1590_image.JPG" width="200" height="150">
			</div>
			<div class="col-lg-7 col-md-12 col-sm-12">
				<a href="#!/list-poli/{{praktek.id}}/detail">{{praktek.poli_name}}</a><br>
				{{praktek.fk_klinik.name}}<br>
				{{praktek.fk_dokter.fullname}} - {{praktek.day}}<br>
				{{praktek.fk_klinik.alamat}}<br>
				Rp. {{praktek.price_rate}},-<br>
				Rating ({{praktek.rating}})<br>
				{{}} Antrian
			</div>
		</div> -->
	<!-- </div> -->
	<!-- <div class="panel-footer" style="height: 10%">
		Footer
	</div> -->