<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
          <div class="form-group-sm">
            <label>Kode</label>
            <input class="form-control" ng-model="role.code" value="" disabled>
          </div>
        </div>
       <div class="col-sm-3"  >
          <div class="form-group-sm">
            <label>Nama</label>
            <input class="form-control required-input" ng-model="role.name" value="" required>
            </div>
          </div>
      </div>
      <br>
      <br>
      <!-- <div ba-panel ba-panel-class="table-panel"> -->
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 280px"></div>
      <!-- </div> -->
      
</div>      


<div class="panel-footer" style="height: 10%">
  <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
  <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary waves-effect"><i class="mdi-content-save">
  </i> Save</button>
</div>
</div>
<!-- </div> -->
<!-- <div class="table-responsive">
  <div ng-grid="gridOptions" class="ngGrid"></div>
</div> -->
<!-- </div> -->
