<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
      <div class="col-xs-12">
          <div class="row col-xs-6 pull-right">
            <div class="col-xs-5">
            </div>
            <div class="col-xs-1 col-sm-3">
            </div>
          <div class="col-ls-1">
            <button type="button" ng-click="go('role/new')" class="btn btn-sm btn-success">
             <i class="glyphicon glyphicon-plus">
             </i> Tambah Posisi Baru
            </button>    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Nama Posisi</label>
          <input class="form-control" ng-model="filterParams.name" value="" required>
        </div>
      </div> 

      <div class="col-sm-2" style="padding-top: 1.6%">
        <button type="button" ng-click="filterData()" class="btn btn-sm btn-success ">
          <span class="glyphicon glyphicon-search"> </span>Filter </button>
     </div>
   </div>
  </div>     
</div>


<div ba-panel ba-panel-class="table-panel">
  <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%""></div>
</div>

