<div class="row row-sm">
  <div class="col-sm-12">
    <form role="form" name="createForm" ng-submit="save(tagihanPembayaran)">
      <div ng-include="'app/pages/pembayaran/tagihan_pembayaran/tagihan_pembayaran.form.html'"></div>
    </form>
  </div>
</div>
