<div class="panel panel-default" ng-if="currentUser.fk_role==27">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
      <div class="col-xs-12">
        <div class="row col-xs-6 pull-right">
          <div class="col-xs-5">
          </div>
          <!-- <div class="col-xs-1 col-sm-3">
          </div> -->
          <div class="col-ls-1">
            <button type="button" ng-click="go('tagihan-langganan/new')" class="btn btn-sm btn-success">
               <i class="glyphicon glyphicon-plus">
              </i> Add New Tagihan Langganan
            </button>          
          </div>
        </div>
      </div>
    </div>
  </div>
       
<div class="panel-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group-sm">
        <label>Klinik</label>
        <ui-select ng-model="filter.klinik">
          <ui-select-match placeholder="Pilih Klinik">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="data in klinikList">
            <span ng-bind="data.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div> 
    <div class="col-sm-2" style="padding-top: 1.6%">
      <button type="button" ng-click="filterData()" class="btn btn-sm btn-success ">
      <span class="glyphicon glyphicon-search"> </span>Filter </button>
    </div>
  </div>
</div>
</div>

<button ng-click="export()">Download PDF</button>
<div ba-panel ba-panel-class="table-panel">
  <div ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
  <div ui-grid="hiddenGrid" ui-grid-exporter ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%" ng-show="false"></div>
</div>