<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Tahun</label>
          <input type="number" class="form-control" ng-model="tagihanPembayaran.tahun" value="" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Bulan</label>
          <ui-select ng-model="tagihanPembayaran.bulan">
            <ui-select-match placeholder="Pilih bulan">
              <span ng-bind="$select.selected.nama"></span>
            </ui-select-match>
            <ui-select-choices repeat="data in bulan">
              <span ng-bind="data.nama"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Klinik</label>
          <ui-select ng-model="tagihanPembayaran.fk_klinik">
            <ui-select-match placeholder="Pilih Klinik">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="data in klinikList">
              <span ng-bind="data.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Dari tanggal</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
             ng-model="tagihanPembayaran.dari_tanggal" is-open="opened_start" close-text="Close" 
             alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_start()"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Sampai tanggal</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
             ng-model="tagihanPembayaran.sampai_tanggal" is-open="opened_end" close-text="Close" 
             alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_end()"/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Total tagihan</label>
          <input type="number" class="form-control" ng-model="tagihanPembayaran.total_tagihan" value="" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Total kunjungan</label>
          <input type="number" class="form-control" ng-model="tagihanPembayaran.total_kunjungan" value="" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Status</label>
          <input class="form-control" ng-model="tagihanPembayaran.status" value="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Tanggal pembayaran</label>
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
             ng-model="tagihanPembayaran.tanggal_pembayaran" is-open="opened_tgl" close-text="Close" 
             alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_tgl()"/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Jumlah pembayaran</label>
          <input type="number" class="form-control" ng-model="tagihanPembayaran.jumlah_pembayaran" value="" required>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer" style="height: 10%">
    <button type="button" class="btn btn-primary waves-effect" ng-click="back()">Back</button>
    <button type="submit" class="btn btn-primary waves-effect"><i class="mdi-content-save">
    </i> Save</button>
  </div>
 </div>
     
