<div class="panel panel-default">
  <div class="panel-heading" style="height: 10%">
    <div class="row">
      <div class="col-xs-12">
          <div class="row col-xs-6 pull-right">
           <div class="col-xs-5">
           </div>
           <div class="col-xs-1 col-sm-3">
           </div>
          <div class="col-ls-1">
            <button type="button" ng-click="exportToExcel()" class="btn btn-sm btn-success">
             <i class="glyphicon glyphicon-book">
             </i> Export Ke Excel
            </button> 
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="panel-body">
   <div class="row">
		 <div class="col-sm-3">
	        <div class="form-group-sm">
	          <label>Status</label>
	          <ui-select ng-model="filterParams.status">
	              <ui-select-match placeholder="Pilih Status">
	                <span ng-bind="$select.selected"></span>
	              </ui-select-match>
	              <ui-select-choices repeat="data in status">
	                <span ng-bind="data"></span>
	              </ui-select-choices>
	        	</ui-select>
	        </div>
	      </div> 

	      <div class="col-sm-3">
	        <div class="form-group-sm">
	          <label>Mulai</label>
	          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
	           ng-model="filterParams.date_start" is-open="opened_start" close-text="Close" 
	           alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_start()"/>
	        </div>
	      </div> 

	      <div class="col-sm-3">
	        <div class="form-group-sm">
	          <label>Akhir</label>
	          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
	           ng-model="filterParams.date_end" is-open="opened_end" close-text="Close" 
	           alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open_end()"/>
	        </div>
	      </div> 
	    
	      <div class="col-sm-3">
	        <div class="form-group-sm">
	          <label>Nama Poli</label>
	          <input class="form-control" ng-model="filterParams.poli_name" value="" required>
	        </div>
	      </div> 

	      <div class="col-sm-3">
	        <div class="form-group-sm">
	          <label>Dokter</label>
	           <ui-select ng-model="filterParams.dokter">
	              <ui-select-match placeholder="Pilih Dokter">
	                <span ng-bind="$select.selected.fullname"></span>
	              </ui-select-match>
	              <ui-select-choices repeat="data in dokter">
	                <span ng-bind="data.fullname"></span>
	              </ui-select-choices>
	        	</ui-select>
	        </div>
	      </div> 
		</div>
     

	  	<div class="col-sm-5" style="padding-top: 1.6%">
	       <button type="button" ng-click="filterData()" class="btn btn-sm btn-success ">
	          <span class="glyphicon glyphicon-search"> </span>Filter </button>
            <button type="button" ng-click="reset()" class="btn btn-sm btn-success ">
	          Reset </button>
		</div>

	  </div>
  </div>     
</div>

<div ba-panel ba-panel-class="table-panel">
  <div ui-grid="gridOptions"  ui-grid-pagination ui-grid-auto-resize class="table-responsive ui-grid" style="height: 100%"></div>
</div>
<!-- 


